<div class="container-fluid">
  <div class="row">
    <div class="module module-cabecera cabecera-imagen-grande contratante relative">

      <div class="image-resizer">
  			<img src="/sites/default/files/2017-11/perfil-contratante1.jpg" alt="">
  		</div>

      <div class="module module-buscador licitaciones-resueltas">
        <div class="container">
          <div class="form-inline col-xs-12">
            <div class="row">
              <div class="form-group col-xs-12 col-sm-6 col-md-3 formulario-busqueda-licitaciones-resueltas">
                <label class="buscador_label" id="edit-field-fecha-resolucion-value--description" for="edit-field-fecha-resolucion-value">{% trans %}Año{% endtrans %}</label>
                {{form.field_fecha_resolucion_value}}
              </div>
               <button type="submit" class="btn btn-alt col-xs-12 col-sm-offset-3 col-sm-3 col-md-offset-1 col-md-1 boton-formulario-busqueda-licitaciones">{% trans %}Buscar{% endtrans %}</button>

             </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
