<div class="container">
  <div class="module module-cards">
    <div class="row">
      <h2 class="module-title col-sm-12 ">
  			{{elements['#configuration']['label']}}
  		</h2>
    </div>

    <div class="row">
      {{content}}
    </div>

  </div>
</div>
