<div class="container">
  <div class="module module-text contratante">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="lead-text">
          {{elements['#configuration']['label']}}
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {{content}}
  </div>
</div>
