<div class="container">
  <div class="module module-text contratante">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="lead-text">
          {% trans %}Licitaciones{% endtrans %}
        </h2>
        <a href="/{{idioma}}/perfil-del-contratante/licitaciones-resueltas" class="ver-mas">
        <span><span class="hidden-xs">{% trans %}acceso a{% endtrans %} </span>{% trans %}licitaciones resueltas{% endtrans %}  </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    {{content}}
  </div>
</div>
