<div class="tabs col-xs-12" style="padding: 0px;">
  <div class="container-fluid contendor-legislacion" style="padding: 0px;">
      <div class="col-izquierda-pestanas">

      </div>

      <div class="cuadrar-pestanas-centro container">
        <div id="myTab2" class="tabs_titulos">
          <ul class="nav nav-tab nav-right scroll-lateral dos-tabs" role="tablist">
              <li id="legislacion" class="item_tabs_centradas" role="tab">
                <a class="text_titulo_tabs " href="?tid=22">{% trans %}Normativa específica{% endtrans %}</a>
              </li>
              <li id="incorporacion" class="item_tabs_centradas" role="tab">
                <a class="text_titulo_tabs " href="?tid=23">{% trans %}Otra normativa aplicable{% endtrans %}</a>
              </li>
          </ul>
        </div>

      </div>

  </div>
</div>
