<div class="row" style="padding: 0px; margin: 0px;">
	<div class="module module-news-form module-buscador module-filter">
		<div class="container">
			<div class="form-inline col-xs-12">
			  <div class="row">
				  <div class="form-group col-xs-12 col-sm-2 form-group-filtrar">
					       <p class="buscador_label">{% trans %}Filtrar por{% endtrans %}</p>
				  </div>
          <a href="/{{idioma}}/sala-de-prensa/listado-multimedia?tid=26"><span id="videos" class="btn col-xs-12 col-sm-3">{% trans %}Vídeos{% endtrans %}</span></a>
          <a href="/{{idioma}}/sala-de-prensa/listado-multimedia?tid=27"><span id="fotos" class="btn btn col-xs-12 col-sm-offset-1  col-sm-3">{% trans %}Fotos{% endtrans %}</span></a>

				 </div>
			</div>

		</div>
	</div>
</div>
