{% set contador = fields.counter.content|replace({' ':''}) %}

<div class="file-item">
  <div class="row">
    <a href="{{fields.field_documento_1.content}}" class="icon-url" id="informes-publicaciones-listado-{{contador}}">
      <div class="file-icon col-sm-1 hidden-xs ">
        <img src="/sites/default/files/2017-09/icon-pdf.png" alt="{% trans %}Icono pdf{% endtrans %}">
      </div>
      <div class="file-text col-xs-12  col-sm-11">
        <h3 class="file-title">{{fields.title.content}}</h3>
        {% set descripcion_aux = fields.field_descripcion %}
        {% set body = {
          '#type':   'processed_text',
          '#text':    descripcion_aux.value,
          '#format':  descripcion_aux.format,
        } %}
      </div>
    </a>
  </div>
</div>
