<div class="container">
  <div class="row">
  	<div class="module module-news list resultados-noticias" style="padding-left: 10px;">
      {% for item in rows %}
        {{item.content}}
      {% endfor %}
    </div>
  </div>
</div>
