<div class="member-card">
  <div class="member">
    <a href="{{fields.field_cv.content}}" class="cv-link" target="_blank">
      <div class="member">
        <h3 class="name">{{fields.title.content}}</h3>
        <p class="title">{{fields.field_cargo.content}}</p>
      </div>
    </a>
  </div>
</div>
