{% set grid = ['width-2-height-1', 'width-1-height-2', 'width-2-height-1', 'width-1-height-2', 'width-1-height-1', 'width-1-height-2', 'width-1-height-1', 'width-1-height-1', 'width-1-height-1', 'width-1-height-1'] %}
<div class="container">

    <div class="relative">
      <h2 class="module-title">{{elements['#configuration']['label']}}</h2>
      <a href="#" class="ver-mas icon hidden-md hidden-lg active" onclick="return false;"><span class="sr-only">{% trans %}Ver todos los sectores{% endtrans %}</span>
      </a>
    </div>

    <div class="row">
      <ul class="sectores hidden-xs hidden-sm row sectores-2" aria-hidden="true">
        {% set aux = 0 %}
        {% for item in rows %}
          <li class="{{grid[aux]}}">
            {{item.content}}
          </li>
          {% set aux = aux + 1 %}
        {% endfor %}
      </ul>
    </div>

</div>

<!-- Tablet y mobile -->
<div class="row visible-xs visible-sm sectores-little">
  <ul class="sectores-carrusel slick-sectores">
    {% for item in rows %}
      <li class="">
        {{item.content}}
      </li>
    {% endfor %}
  </ul>
</div>
