<div class="container">
	<div class="row">
		<div class="module module-news list files ">
	    <div class="col-xs-12 bloque-files">
				{% set aux = 1 %}
	      {% for item in rows %}
	        {{item.content}}
					{% set aux = aux + 1 %}
	      {% endfor %}
				<span id="informes-listado-total" style="display:none;">{{aux}}</span>
	    </div>

			<div class="mas-informes col-xs-12">
				<a href="/{{idioma}}/sala-de-prensa/ultimos-informes/buscador-informes" id="ver-mas-documentos">{% trans %}ver{% endtrans %}<span class="mas-symbol"><img src="/sites/default/files/2017-10/ver-mas-informes.png" alt="{% trans %}Ver más informes{% endtrans %}" /></span><span id="tipo-documento-ver-mas"></span></a>
			</div>

	  </div>
	</div>

</div>
