<div class="container-fluid">
  <div class="row">
    <div class="module module-fundacion">
      <div class="container" style="padding-left: 25px;">
        <div class="row">
          {{content}}
        </div>
      </div>
    </div>
  </div>
</div>
