<div class="row" style="padding: 0px; margin: 0px;" id="fila-contendor-agenda">
  <div class="module module-agenda">
    <div class="container">
      <div class="relative white" style="padding-left: 10px; padding-right: 0px;">
        <h2 class="module-title">{{elements['#configuration']['label']}}</h2>
        <a href="/{{idioma}}/sala-de-prensa/listado-agenda" class="ver-mas white"><span class="white">{% trans %}más{% endtrans %} <span class="hidden-xs">{% trans %}agenda{% endtrans %}</span></span></a>
      </div>

      <div class="row card-list white">
        {{content}}
      </div>

    </div>
  </div>
</div>
