<div id="mapa-contacto-sepi" style="width: 100%; height: 350px; margin-top: 30px;">

</div>

{{content}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize&key=AIzaSyD8X8sxPSbMVuzI8CHdbLPIsS2SPYwxDZE"></script>
<script>
/*
*
* Inicio del mapa para el contacto
*
*/
  var icon = "/sites/default/files/2017-08/maps-and-flags_0.png";
  var contenido_marker;
  var infowindow;
  var position = {lat: 40.438667, lng: -3.682641};
  var map2 = new google.maps.Map(document.getElementById('mapa-contacto-sepi'), {
    zoom: 18,
    center: position
  });

  contenido_aux = "<p class='text-left'>SEPI</p><p class='text-left'>Calle Velázquez, 134</p><p class='text-left'>28006 Madrid (España)</p><p class='telefono-empresa text-left'>+34 91 396 10 00</p>";
  contenido_marker = "<div class='contenedor-ballon row'><div class='col col-xs-12 col-sm-4 contenedor-imagen-ballon'><span class='helper'></span><img src='/sites/default/files/2017-09/log_sepi.gif' class='imagen-empresa-balloon' /></div><div class='col col-xs-12 col-sm-8 contenedor-datos-balloon'><h2 class='nombre-empresa-balloon'>SEPI</h2><p class='sector-empresa-balloon'>Sociedad Estatal de Participaciones Industriales</p>"+contenido_aux+"</div></div>";

  infowindow = new google.maps.InfoWindow({
    content: contenido_marker,
    maxWidth: 350
  });

  marker = new google.maps.Marker({
    position: position,
    map: map2,
    icon: icon,
    info: contenido_marker
  });

  marker.addListener('click', function() {
    infowindow.setContent(this.info);
    infowindow.open(map2, this);
  });

  marker.setMap(map2);

/*
*
* Fin del mapa para el contacto
*
*/
</script>
