<div class="container margenes-bloque module module-sectores" style="padding-left: 25px;">
    <div class="relative">
      <h2 class="module-title">{{elements['#configuration']['label']}}</h2>
      <a href="#" class="ver-mas icon hidden-md hidden-lg active" onclick="return false;"><span class="sr-only">{% trans %}Ver todos los sectores{% endtrans %}</span>
      </a>
    </div>

    <div class="row">
      {{content}}
    </div>
</div>
