<div class="row" style="padding: 0px; margin: 0px;">
	<div class="module module-news-form module-buscador module-filter informes">
		<div class="container">
			<div class="form-inline col-xs-12">
			  <div class="row">
				  <div class="form-group col-xs-12 col-sm-2 form-group-filtrar">
					       <p class="buscador_label">{% trans %}Filtrar por{% endtrans %}</p>
				  </div>
          <a href="/{{idioma}}/sala-de-prensa/ultimos-informes?tid=24"><span id="informes" class="btn col-xs-12 col-sm-3">{% trans %}Informes anuales{% endtrans %}</span></a>
          <a href="/{{idioma}}/sala-de-prensa/ultimos-informes?tid=25"><span id="publicaciones" class="btn btn col-xs-12 col-sm-offset-1  col-sm-3">{% trans %}Publicaciones SEPI{% endtrans %}</span></a>

				 </div>
			</div>

		</div>
	</div>
</div>
