<div class="row">
  <div class="tabs col-xs-12 ">
		<ul class="nav nav-tab nav-right tabs_titulos scroll-lateral col-sm-12  col-md-10 {% if contador == 3 %}tres-tabs{% endif %}" id="myTab" role="tablist">
			<li id="legislacion" class="active item_tabs_centradas">
				<a class="text_titulo_tabs" href="/{{idioma}}/legislacion?tid=22">{% trans %}Legislación sobre SEPI{% endtrans %}</a>
			</li>
			<li id="participacion" class="item_tabs_centradas">
				<a class="text_titulo_tabs " href="/{{idioma}}/legislacion?tid=23">{% trans %}Incoporación de participaciones públicas{% endtrans %}</a>
			</li>
		</ul>
	</div>
</div>
