<div class="page">
  <div class="container-fluid">
     <div class="row">
       <div class="container-fluid">
         {{page.header}}
       </div>

       <div class="contenedor-de-paginas">
         {{page.content}}
       </div>

       <div class="container-fluid">
         {{page.footer}}
       </div>
     </div>
  </div>

  <div id="modals-wrapper">
  </div>

  <!-- Aquí vienen los Scripts -->
</div>
