<div class="container-fluid">
  <div class="row">
    <div id="accordion" class="panel-group module-organismos">
      {% for item in rows %}
        {{item.content}}
      {% endfor %}
    </div>
  </div>
</div>
