<a href="{{fields.field_documento.content}}" target="_blank" title="" class="card col-xs-12 col-sm-4 col elementos-bloque-informes">
  <div class="image-resizer zoom">
    <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}" />
  </div>
  <p class="module-subtitle">{{fields.title.content|raw}}</p>
</a>
